/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/*** Header ***/
header {
  display: flex;
  align-items: center;
  width: 100%;

  font-family: Verdana;
  font-weight: bold;
  margin-top: 10px;
}

header .spacer {
  width: 40px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.logo img {
  padding-left: 40px;
  padding-right: 12px;
}

.logo h1 {
  color: MediumAquamarine;
  font-size: 14px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.navlink a {
  display: inline-block;
  color: black;
  padding: 0 15px;
  font-size: 14px;
}

.underline {
  background-color: black;
  width: 100%;
  height: 1px;
  margin-top: 10px;
}

/*** BODY ***/
.container {
  display: flex;
  justify-content: space-between;
}

.column_large {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 630px;
}

.column_medium {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 300px;
}

.column_small {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: : center;
  width: 240px;
}

/*** Headline Image Handling ***/
.img_headline {
  display: flex;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.photo_phish {
  background-image: url("../images/img-story-main.png");
}

.photo_earth {
  background-image: url("../images/img-story-2.png");
}

.photo_cats {
  background-image: url("../images/img-story-1.png");
}

.photo_cameras {
  background-image: url("../images/img-story-3.png");
}

.main_headline {
  font-size: 40px;
}

/*** News Stories ***/
.story_left { width: 300px; }
.story_middle { width: 300px; }
.story_right { width: 240px; }
.story_main { width: 630px; }

.story_body {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  padding: 10px 0 40px 0;
}

.story_headline {
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px 0;
}

/*** News Bites ***/
.newsbites_title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 40px;
}

.newsbites_body {
  display: flex;
  align-items: center;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  height: 40px;
  padding: 0 20px;
  border-bottom: 1px solid black;
}

/*** FOOTER ***/
footer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
    height: 400px;
}

footer h1 {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 20px;
  border-right: 2px solid white;
}

footer a {
  display: inline-block;
  color: black;
  padding: 0 15px;
}

footer .copy {
  display: flex;
  justify-content: center;
  width: 51%;
  padding: 10px;
}
